body {
	background-color: white;
	color : black;
	font-size: 18px;
	text-align: center;

}
.entete {
	position: relative;
	left:-1000px;
	max-width : 1000px;
	height : 600px;
	text-align:left;
}
.image {
	max-width : 1000px;
	height : 600px;
	background-color: pink;
}

header {
	padding: 50px;

}

.head-container{
	display: flex;
    justify-content: center;
}

ul{
     list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}

a {
    display: block;
    padding: 5px;   
    background-color: #dddddd;
	text-decoration: none;

}




